# crontab command

# crontab -e will be used to edit the cronjob running in linux
# crontab -e

# crontab -l will show list of the cronjob running in linux for user
# crontab -l

# add this line to the crontab
# this will delete 7 days old file from vim backup folder
0 10 * * * find ~/.vim/backup -type f -mtime +7 -delete
